<div id='panel_list'>
  <div class="row">
    <div id="notes-box" class="col-xs-12 col-sm-8 col-md-8">
      <input type="text" class="form-control" id="search-note" placeholder="&#xf002; Search">
      <table class= "table" id="note_list"></table>
    </div>
    <div id="search-box" class="col-xs-12 col-sm-4 col-md-4">
      <h3><i class="fa fa-tags"></i> Tag</h3>
      <ul id="tag-list"></ul>
      <h3><i class="fa fa-cog"></i> Settings</h3>
      <ul id="config-list">
        <li>KEY SHORTCUT : <input type="checkbox" switch="true" class="settings" kind="shortcut"/></li>
      </ul>
      
    </div>
  </div>
</div>
