<div id='panel_edit'>
  <div class='split-pane fixed-left'>
    <div class='split-pane-component' id='input_div'>
      <input type='text' id='title' placeholder='TITLE'>
      <input type='text' id='tag' placeholder='TAG'>
      <textarea id='input' placeholder='INPUT'></textarea>
      <button id="save" class="btn btn-success btn-sm" title="Ctrl+s" data-toggle="tooltip">SAVE</button>
    </div>
    <div class='split-pane-divider'>
      <div><i class="fa fa-ellipsis-v"></i></div>
    </div>
    <div class='split-pane-component preview' id='preview'></div>
  </div>
</div>
