@mixin panel($width: 100%, $height: 100%) {
  position: absolute;
  top: 0;
  left: 0;
  width: $width;
  height: $height;
}

@mixin opac($o: 0.95) {
  @include opacity($o);
}
@mixin rad($r: 3px) {
  @include border-radius($r);
}
@mixin trans($t: 0.3s) {
  @include transition($t);
}

@mixin div_button($height: 40px, $color: #FBB) {
  height: $height;
  background-color: $color;
  text-align: center;
  line-height: $height;

  &:hover {
    background-color: $color + #222;
    @include hover();
  }
}

@mixin hover($backgroundcolor: none, $textcolor: #000, $trans: 0.3s) {
  &:hover {
    background-color: $backgroundcolor;
    color: $textcolor;
    cursor: pointer;
    @include trans($trans);
  }
}