.preview {
  * { font-size: 13px; }

  h1, h2, h3 { padding: 10px 0 5px }
  h4, h5, h6 { margin-bottom: 5px; }
  h1 { font-size: 28px; }
  h2 { font-size: 24px; }
  h3 { font-size: 20px; }
  h4 { font-size: 18px; }
  h5 { font-size: 16px; }
  h6 { font-size: 14px; }

  a, a:hover, a:visited { color: blue; }

  p, li { line-height: 1.7em; }
  p, pre, ul, ol { margin-bottom: 10px; }

  pre code { 
    font-family: Consolas,"Liberation Mono",Menlo,Courier,monospace;
    padding: 10px;
    font-size: 12px;
    line-height: 1.4em;
    word-wrap: normal;
  }

  ul li {
    margin-left: 18px;
    list-style-type: disc;
  }
  ol li {
    margin-left: 23px;
    list-style-type: decimal;
  }
  li {
    margin-bottom: 5px;

    ul, ol {
      margin-top: 5px;
      li { margin-bottom: 2px; }
    }
  }

  hr { margin: 20px 0;  }

  table {
    border-collapse: collapse;
    font-weight: normal;

    th, td {
      border: 1px solid #EEE;
      padding: 10px;
      word-break: break-all;
    }
    thead {
      tr {
        background-color: #555;
        color: #FFF;

        th {
          font-weight: normal;
        }
      } 
    }
    tbody {
      tr {
        &:nth-child(2n) {
          background-color: #F6F6F6;
        }

        td {
        }
      } 
    }
  }
}
